:root {
  --box-shadow      : 0 0px 8px rgba(0, 0, 0, 0.22);
  --font-brand      : #0070c9;
  --transparent-dark: rgba(0, 0, 0, 0.22);
  --background      : #62abff;
  --back-color      : #c3c8de;
  --text-color      : #414856;
  --brand-6         : #1e293b;
  --brand-5         : #e3e8ef;
  --brand-4         : #edf1f7;
  --brand-3         : #f5f7fb;
  --brand-2         : #fafbfd;

  --neutral-9: #192252;
  --neutral-8: #2A3563;
  --neutral-7: #424F7B;
  --neutral-6: #606D93;
  --neutral-5: #848FAC;
  --neutral-4: #A9B4CD;
  --neutral-3: #C5D0E6;
  --neutral-2: #DFE8F6;
  --neutral-1: #EFF3FA;
}