.list-episodes {
	list-style: none;
	padding: 1rem;
	margin: 0;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.22);
	border-radius: 0.3rem;

	&__title {
		> h2:nth-child(3) {
			justify-self: center;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 10rem 10rem;
		gap: 0.2rem;

		@media (min-width: 726px) and (max-width: 1160px) {
			grid-template-columns: 1fr 6rem 7rem;
		}

		@media (max-width: 725px) {
			grid-template-columns: 1fr 5rem 6rem;
		}
	}

	&__item {
		padding: 0.5rem;
		align-items: center;

		> p:nth-child(3) {
			justify-self: center;
		}

		&:nth-child(odd) {
			background-color: var(--brand-3);
		}

		&:nth-child(even) {
			background-color: var(--brand-4);
		}
	}
}
