@import './MainCards/mainCards';
@import './MainCard/mainCard';
@import './MainFilter/mainFilter';


.podcast-list {
  align-self    : start;
  display       : flex;
  flex-direction: column;
  max-width     : 100%;
}