.main-cards {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(8.2rem, 14rem));
  margin               : 0;
  padding              : 1rem;
  list-style           : none;
  gap                  : 1rem;
  justify-content      : space-around;
}