.breadcrumb {
	padding-left: 0.5rem;

	> span {
		display: flex;
		gap: 0.5rem;

		> span {
			display: flex;
			gap: 0.5rem;

			.breadcrumb__link {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;

				@media (max-width: 725px) {
					max-width: 6rem;
				}
			}
		}
	}
}
